body {
    background: #7063a6;
}

h1, p {
    text-align: center;
    color: white;
}

footer {
    text-align: center;
}

footer a {
    margin: 0 10px;
    color: aliceblue;
    text-align: center;
}

.lunarEclipse-photo {
    display: block;
    max-width: 100%;
    border-radius: 10px;
    margin: 30px auto;
}