body {
    background: #7063a6;
}

h1, p, footer {
    text-align: center;
}

h1, p {
    color: rgba(255, 255, 255, 0.757);
}

footer {
    color: darkblue;
}

footer a {
    margin: 0 10px;
    text-align: center;
}

.lunarEclipse-photo {
    display: block;
    width: 600px;
    border-radius: 10px;
    margin: 30px auto;
}